@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-flex flex-column">
    <label for="sections">Select Section</label>
    <select name="sections" id="sections"></select>
</div>
<div id="d3-chart"></div>  
<div id="threejs-container"></div>


<style>
    #sections {
        width: 50%;
    }
</style>


<script>
</script>



